.App{
  display: flex;
  justify-content: center;
  align-items: center;
}
Body{
  background-color: #3f51b5;

}
.Heading{
  color: white;
}
.Board_row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Square{
  border: solid 2px black;
}
.Wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}